{% extends 'base.html' %} {% load static %} {% block display %}
<div>

    <div class="alert alert-info">
        <p><strong>Image Info</strong>
            <ul>
                <li>Category:{{show_ori.img_category}}</li>
                <li>Image ID:{{show_ori.img_id}}</li>
                <li>Label:{{show_ori.img_label}}</li>
                <li>Size(hxw):{{img_info.img_h}} x {{img_info.img_w}}</li>
            </ul>

        </p>
    </div>

    {% if show_ori.img_thumbs%}
    <div>
        <img src="{{show_ori.img_thumbs.url}}" height="500" width="500">
    </div>
    <br>
    <div class="alert alert-danger">
        <p>
            <strong>This</strong> image has been resize to 500x500 pixels and converted into png format. This image has also watermarked for the Copyright purpose. The real processed image without watermarked is in
            <strong>TIF</strong> format and can be downloaded from the link below.
        </p>
        <a href="{{show_ori.img_file.url}}" download="{{show_ori.img_file.url}}" class="btn btn-success"> Download Images</a>
    </div>
    {% else %}
    <div>
        <p><strong>No Thumbsnail Images</strong></p>
        <img src="{% static 'images/no_images.jpg' %}" width="500" height="500">
    </div>
    <div class="alert alert-danger">
        <p>
            <strong>This</strong> image has been resize to 500x500 pixels and converted into png format. This image has also watermarked for the Copyright purpose. The real processed image without watermarked is in
            <strong>TIF</strong> format and can be downloaded from the link below.
        </p>
        <a href="{{show_ori.img_file.url}}" download="{{show_ori.img_file.url}}" class="btn btn-success"> Download Images</a>
    </div>

    {% endif %}
</div>
{% endblock %}